<!DOCTYPE html>
<html>
  <head>
    <title>Health Calculators</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheet/health-calculator.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h2>BMI Calculator</h2>
        <button class="btn" onclick="window.location.href='/bmi'">
          Go to BMI Calculator
        </button>
      </div>
      <div class="card">
        <h2>Calories Calculator</h2>
        <button class="btn" onclick="window.location.href='/calories'">
          Go to Calories Calculator
        </button>
      </div>
      <div class="card">
        <h2>Target Heart Rate Calculator</h2>
        <button class="btn" onclick="window.location.href='/THRC'">
          Go to Target Heart Rate Calculator
        </button>
      </div>
      <div class="card">
        <h2>Water Intake Calculator</h2>
        <button class="btn" onclick="window.location.href='/WIC'">
          Go to Water Intake Calculator
        </button>
      </div>
      <div class="card">
        <h2>One Rep Max Calculator</h2>
        <button class="btn" onclick="window.location.href='/ORMC'">
          Go to One Rep Max Calculator
        </button>
      </div>
      <div class="card">
        <h2>Blood Alcohol Concentration Calculator</h2>
        <button class="btn" onclick="window.location.href='/BAC'">
          Go to Blood Alcohol Concentration Calculator
        </button>
      </div>
    </div>
  </body>
</html>
