<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SMART HEALTH ASSISTANT</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.5"></script>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <% if (messages.error) { %>
        <div class="error-message">
          <strong><%= messages.error %> </strong>
        </div>
        <% } %>
        <img src="images/safehealth1.jpg" alt="safe health" class="logo" />
        <h1>LogIn for Safe Health</h1>
        <div id="app">
          <login-form />
        </div>
      </div>
    </div>

    <script src="/scriptsheet/script.js"></script>
  </body>
</html>
